absl-py
astor
attrs
certifi
click
click-plugins
cligj
cycler
decorator
efficientnet
Fiona
gast
google-pasta
h5py
image-classifiers
imageio
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
munch
numpy
networkx
opencv-python
Pillow
pyparsing
pyproj
pyshp
python-dateutil
python-magic
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
segmentation-models-pytorch
Shapely
tensorflow
termcolor
Werkzeug
wrapt
